<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Vue3组件库模板</title>
    <link rel="icon" href="./assets/favicon.b3b7d82b.ico" />
    <script type="module" crossorigin src="./assets/index.4dfda936.js"></script>
    <link rel="modulepreload" href="./assets/vue.29009e11.js">
    <link rel="stylesheet" href="./assets/vue.cbcee8d3.css">
    <link rel="stylesheet" href="./assets/index.6dbc3b5f.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
